@use "../../presets" as *;
@use "../../mixins" as *;


.footer {
  padding-top: 100px;
  padding-bottom: 40px;

  background-color: $color-bg-footer;
  &-menu {
    display: flex;

    @include xl-min {
      flex-direction: row;

      gap: 140px;
    }
    @include xl {
      align-items: center;
      flex-direction: column;

      padding-bottom: $gap-lg;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    max-width: 300px;

    @include xl-min {
      gap: 25px;
    }
    @include xl {
      gap: 10px;
    }
    @include xl-min {
      padding-bottom: 95px;
    }
    @include xl {
      align-items: center;

      padding-bottom: 50px;
    }

    &__title {
      font-size: 40px;
    }
    &__img {
      @include xs {
        width: 100%;
      }
    }
    &__description {
      font-size: 20px;
      line-height: 1.5;

      @include xl {
        text-align: center;
      }
    }
    &__link {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
    }
  }

  &-navbar {
    display: grid;

    column-gap: $gap-lg;
    @include sm-min {
      grid-template-columns: repeat(4, 1fr);
    }
    @include sm {
      grid-template-columns: repeat(2, 1fr);
      row-gap: $gap;
    }

    &__title {
      margin-bottom: 20px;

      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;

      gap: 15px;
    }

    &__link {
      line-height: 15px;
    }
  }
}